nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: flex-end;
    background: #ac861e;

}

nav > * {
    border: none;
    color: black;
    font-size: 25px;
    padding: 0px 10px;
    background: #ac861e;
}

i {
    background: #ac861e;
}